body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: #ffffff;
    color: #252622;
}

.container {
    max-width: 420px;
    margin: auto;
    padding: 16px;
    background: rgb(255, 255, 255);
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(1, 1, 1, 0.220),
                0 -8px 16px rgba(0, 0, 0, 0.220) ;
    margin-top: 100px;
}

h1, h2 {
    text-align: center;
    font-size: 20px;
}

form {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 2px;
}

input[type="text"] {
    flex: 1;
    height: 11px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 12px;
}

button {
    display: block;
    margin: 1px auto 0 auto;
    padding: 10px;
    background-color: #167600;
    color: white;
    border: none;
    border-radius: 9px;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #14af00;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 9px;
}

th, td {
  padding: 6px 10px;
  border-bottom: 1px solid #b9b9b9;
  text-align: center;
  font-size: 9px;
}

th {
  background-color: #4d5761;
  color: white;
}

#a {
  background-color: #e10000;
  color: white;
}

td input {
  width: 80px;
  padding: 0.3rem;
  border-radius: 4px;
  border: 1px solid #ddd;
  text-align: center;
}

@media (max-width: 600px) {
  table {
    font-size: 0.85rem;
  }

  td input {
    width: 60px;
  }

  button {
    padding: 8px;
  }
}

.fade-enter {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
}

.valor{
  height: 10px;
  padding: 5px;
  text-align: center;
  font-size: 10px;
}

.quantidade{
  height: 10px;
  padding: 5px;
  text-align: center;
  font-size: 10px;
}